<h1>Welcome {{user.firstName}}</h1>
<h4>Your Pics</h4>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>ID</th>
        
        <th>Status</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/pics/show/{{id}}">{{id}}</a></td>
          
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            {{!-- <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a> --}}

            <form action="/pics/{{id}}?_method=DELETE" method="post" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red"><i class="fa fa-remove"></i> Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not uploaded any pic yet</p>
{{/if}}